/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "../node_modules/bulma/sass/utilities/_all";
$menu-item-active-color: $primary-invert;
$menu-item-active-background-color: $primary;

@import "../node_modules/bulma/bulma";

body {
  background-color: $white-bis
}

.navbar {
  box-shadow: 0 2px #F1F1F1;
  background: rgba($color: $primary, $alpha: 0.8) !important;
}

::-webkit-scrollbar { 
    display: none; 
}