<div class="center-dialog editor-container">
	<form name="form" #form="ngForm">
		<input hidden name="topicKey" [(ngModel)]="model.topicKey">
		<div class="field">
			<div class="control">
				<mat-form-field>
					<input matInput required name="recordDate" [(ngModel)]="model.recordDate" placeholder="日期">
					<!-- <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
					<mat-datepicker #myDatepicker></mat-datepicker> -->
				</mat-form-field>
			</div>
		</div>
		<div class="field">
			<div class="control">
				<angular-editor [id]="'editor' + model.topicKey" name="content" [(ngModel)]="model.content"
					[config]="editorConfig">
				</angular-editor>
			</div>
		</div>
		<div class="level is-mobile">
			<div class="level-left"></div>
			<div class="level-right">
				<button-group (submit)="onSubmit(form.value)" (cancel)="onCancel()" [isValid]="form.valid"></button-group>
			</div>
		</div>
	</form>
</div>