.main {
  min-height: calc(100vh - 52px);
}

.main-content {
  height: calc(100vh - 52px);
}

/* 设置滚动条的样式 */
.main-content::-webkit-scrollbar {
  width:8px;
  display: inline;
}
/* 滚动槽 */
.main-content::-webkit-scrollbar-track {
  -webkit-box-shadow:inset006pxrgba(0,0,0,0.3);
  border-radius:10px;
}
/* 滚动条滑块 */
.main-content::-webkit-scrollbar-thumb {
  border-radius:10px;
  background:rgba(0,0,0,0.1);
  -webkit-box-shadow:inset006pxrgba(0,0,0,0.5);
}
.main-content::-webkit-scrollbar-thumb:window-inactive {
  background:rgba(255,0,0,0.4);
}

.sidenav-container {
  min-width: 240px !important;
  max-width: 300px !important;
  padding-right: 5px;
  box-shadow: 1px 0 #F1F1F1;
}

.mat-sidenav-content {
  min-height: calc(100vh - 80px) !important;
}

.mat-drawer {
  background-color: #FAFAFA
}
.mat-drawer-container {
  background-color: white !important;
}