<nav class="navbar is-fixed-top is-transparent is-primary top-nav" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<button mat-button class="hamburger" (click)="toggleMenu()">
			<mat-icon>menu</mat-icon>
		</button>
		<a class="navbar-item" routerLink="/">
			<img src="../assets/logo.png" height="100">
		</a>
	</div>
	<div class="navbar-menu">
		<div class="navbar-start">

		</div>

		<div class="navbar-end">
			<a class="navbar-item" routerLink="/account/login">
				<span class="icon">
					<i class="fas fa-lg fa-sign-in-alt"></i>
				</span>
			</a>
		</div>
	</div>
</nav>