<div class="app-sidebar">
  <div class="level is-mobile" *ngIf="editable$ | async">
    <div class="level-left">
    </div>
    <div class="level-right">
      <a class="level-item button is-rounded is-link is-small" (click)="onCreateTimelineClicked()">
        新建
      </a>
      <a class="level-item button is-rounded is-link is-small" (click)="onAddMomentClicked()">
        添加
      </a>
    </div>
  </div>
  <aside class="menu">
    <p class="menu-label">
      时间轴
    </p>
    <ul *ngFor="let item of timelines$ | async" class="menu-list">
      <a [class.is-active]="activeTopicKey == item.topicKey" (click)="onTimelineClicked(item)">
        <div class="level is-mobile">
          <div class="level-left">
            {{item.title}}
          </div>
          <div class="level-right">
            <span class="icon" *ngIf="item.protectLevel == 'Protected'">
              <i class="fas fa-lock"></i>
            </span>
          </div>
        </div>
      </a>
    </ul>
    <!-- <p class="menu-label">
    管理
  </p> -->
  </aside>
</div>