<nav class="navbar is-fixed-top is-dark top-navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <div class="navbar-item">Vincent Shen's EF Moments</div>
            <div class="navbar-burger burger" data-target="navbarCollapsable" (click)="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navbarCollapsable" class="navbar-menu" [class.is-active]="isMenuActive">
            <div class="navbar-start">

            </div>

            <div class="navbar-end">
                <a class="navbar-item" href="https://github.com/VincentSCW/timelines">
                    <span class="icon">
                        <i class="fab fa-lg fa-github"></i>
                    </span>
                </a>
                <button mat-button (click)="onAddClicked()" *ngIf="editable">Add Moment</button>
            </div>
        </div>
    </div>
</nav>