<div class="center-dialog">
    <form name="form">
        <div class="field">
            <div class="control">
                <mat-form-field>
                    <input matInput required name="recordDate" [(ngModel)]="model.recordDate" placeholder="Record Date" [matDatepicker]="myDatepicker">
                    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #myDatepicker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <app-ngx-editor name="content" required placeholder="'Enter text here...'" [spellcheck]="true" [(ngModel)]="model.content"></app-ngx-editor>
            </div>
        </div>
        <button-group (submit)="onSubmit(form.value)" (cancel)="onCancel()" [isValid]="true"></button-group>
    </form>
</div>