<div class="timeline is-centered" *ngFor="let mGroup of groupedMoments">
  <header class="timeline-header">
    <span class="tag is-primary">{{mGroup.group}}</span>
  </header>
  <div class="timeline-item" *ngFor="let moment of mGroup.moments">
    <div class="timeline-marker"></div>
    <div class="timeline-content">
      <p class="heading">{{moment.recordDate | date: 'MMMM dd'}}</p>
      <p [innerHTML]="moment.content"></p>
    </div>
  </div>
</div>
<div class="timeline is-centered">
  <div class="timeline-header">
    <span class="tag is-medium is-primary">End</span>
  </div>
</div>