mat-sidenav.mat-sidenav {
  position: fixed;
  top: 52px;
  left: 10px;
  bottom: 0;
  padding-right: 5px;
  min-width: 260px;
  background-color: $offwhite;
  box-shadow: 6px 0 6px rgba(0,0,0,0.10);
}

.app-sidebar {
  padding-top: 10px;
}

.menu {
  height: 100%;
}