<div class="t-content editor-container">
  <section class="section">
    <h2 class="subtitle">{{model.topicKey ? '编辑时间轴': '新建时间轴'}}</h2>
  </section>
  <form name="form" #form="ngForm">
    <div class="field">
      <div class="control">
        <mat-form-field class="is-fullwidth">
          <input matInput #inputKey required maxlength="20" name="topicKey" [(ngModel)]="model.topicKey"
            placeholder="Key" />
          <mat-hint align="end">{{inputKey.value?.length || 0}}/20</mat-hint>
          <mat-error *ngIf="model.inputKey == null || model.inputKey == ''">Key is required.</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <mat-form-field class="is-fullwidth">
          <input matInput required #inputTitle maxlength="30" name="title" [(ngModel)]="model.title"
            placeholder="Title">
          <mat-hint align="end">{{inputTitle.value?.length || 0}}/30</mat-hint>
          <mat-error *ngIf="model.inputTitle == null || model.inputTitle == ''">Title is required.</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <mat-radio-group name="protectLevel" [(ngModel)]="model.protectLevel" placeholder="Protect Level">
          <mat-radio-button value="Public">Public</mat-radio-button>
          <mat-radio-button value="Protected">Protected</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="field" *ngIf="model.protectLevel == 'Protected'">
      <div class="control">
        <mat-form-field class="is-fullwidth">
          <input matInput name="accessKey" [(ngModel)]="model.accessKey" placeholder="Access Key">
        </mat-form-field>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <mat-form-field class="is-fullwidth">
          <mat-select name="periodGroupLevel" [(ngModel)]="model.periodGroupLevel"
            placeholder="Period Group Level">
            <mat-option value="ByDay">By Day</mat-option>
            <mat-option value="ByMonth">By Month</mat-option>
            <mat-option value="ByYear">By Year</mat-option>
          </mat-select>
          <mat-hint>Records will be grouped by period group.</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <mat-slide-toggle name="isCompleted" [(ngModel)]="model.isCompleted">Completed?</mat-slide-toggle>
      </div>
    </div>

    <div class="level is-mobile">
      <div class="level-left"></div>
      <div class="level-right">
        <button-group (submit)="onSubmit(form.value)" (cancel)="onCancel()" [isValid]="form.valid"></button-group>
      </div>
    </div>
  </form>
</div>